<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sis.clighteningboost">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:grantUriPermissions="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NodeIDResponse"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".Activities.InstantSubscription" />
        <activity
            android:name=".Activities.MerchantLink"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MerchantBoostTerminal"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".Activities.Registration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".Activities.NodeIDResponse"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:exported="false"
            tools:replace="screenOrientation" />

        <service
            android:name=".Services.MyService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>